*{margin:0;padding:0;}

html {
    min-height: 100%;
    position: relative;
  }
  
body{
    background-color: #d6cccb;
    margin: 0;
    margin-bottom: 40px;
}

header {
    
    width: 100%;
    height: 35px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #12161e;
}

nav {
    
    width: 100%;
    height: 60px;
    right: 0px;
    left: 0px;
    top: 35px;
    background: #123a44;
}

main {
    width: 100%;
    height: 600px;
}

section {
    
    width: 100%;
    height: 280px;
    border-right: 0px;
    top: -1px;   
}

#art-nos{
    height: 700px;
}
article {
    width: 1000px;
    height: 600px;
    background-color: #126678;
}

aside {
    display: block;
    float: right;
    width: 350px;
    height: 600px;
    background-color: #1aa3b7;
}



.menu-block {
    text-align: center;
    justify-content: center;
    margin-left: 20%;
}

.menu li a{
    display: block;
    float: left;
    width: 120px;
    height: 55px;
    background-color: #123a44;
    margin-right: 10px;
    line-height: 55px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-top: 3px;
    border-radius: 4px;
}

.menu a:hover {
    background-color:#a85b40;
    font-weight: bold;
}



ul {
    margin-left: 50px;
    list-style-type: none;
    
}

#banner1 {
    width: 100%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 19px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    line-height: 55px;
    font-size: 28px;
}

.Boxes {
    float: right; 
    padding-left: 8px;  
    width: 320px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    
} 

.Boxes-nos {
    float: right; 
    padding-left: 8px;  
    width: 300px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    border: outset;
    height: 100%;
    margin-left: 5px;
    
}

#full-box {
    margin-right: 12px;
}
#btn-nos {
    width: 100px;
    height: 40px;
    background-color:  #123a44 ;
    color: white;
    border-radius: 8px;
    margin-right: 8px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.p-nos{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#descripcion a{
    text-decoration: none;
    color: white;
}
#descripcion a:hover {
    color: #12161e;
    
}

#capacitacionBox {
    height: 160px;
    margin-left: 25px;
}

#nos-img{
    width: 100%;
   
}

#btn-capa {
    width: 100px;
    height: 40px;
    background-color:  #123a44 ;
    color: white;
    border-radius: 8px;
    float: right;
    margin-right: 8px;
}

#btn-capa:hover {
    background-color: #a85b40;

}

#reproductor {
    margin-left: 9px;
    
}

audio {
    margin-top: 8px;
}



footer {
    background-color: black;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 120px;
    color: white;
  }

h5 {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bold;
}
h6 {
    float: right;
}

.footer-list li a{
    margin-left: 8px;
    margin-top: 12px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-flex;
    float:left;

}

#logo-footer{
    position: relative;
    bottom: 23px;
    float: right;
    height: 100%;
    
}


.podcast {
    width: 90%;
    display: block;
    
}

#art-podcast {
    height: 850px;
}

#aside-podcast{
    height: 850px;
}
#audio-block{
    width: 100%;
    border-style: inset ;
    margin-left: 8px;
    margin-top: 3px;
    display: flex;
    float: inline-start;
}

.title-p {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-left: 18px;
}

audio {
    display: block;
    position: relative;
    top: 80px;
    
}


.imgpdct {
    width: 150px;
    
}

#form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }

h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 18px;
    margin-left: 4px;
  }
  
  
  #form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  
  #form button {
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    list-style: none;
  }

  button a {
      
      text-decoration: none;
      color: white;
  }

  #vid-fuerza {
      width: 70%;
      display: block;
      margin: 0 auto;
  }

  article li a {
    display: block;
    float: left;
    width: 120px;
    height: 55px;
    background-color: #123a44;
    margin-right: 10px;
    line-height: 55px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-top: 3px;
    border-radius: 4px;
    
  }

  ul li a {
      text-decoration: none;
      list-style: none;
      text-align: center;
  }

  h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 4px;
    width: 800px;
    text-align: center;
    
    }

 #btn-vid a:hover {
    background-color:#a85b40;
    font-weight: bold;
}
